<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Our Experts</span>
            <h2 class="cs-title">Build Your Vision with Us</h2>
            <p class="cs-text">
                Count on our expertise to transform your commercial project into reality. Quality, on-time, and within budget.
            </p>
            <a href="/contact" class="cs-button-solid">Request a Free Quote</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="\assets\images\ctaBackground.webp">
        <source media="(min-width: 601px)" srcset="\assets\images\ctaBackground.webp">
        <img loading="lazy" decoding="async" src="\assets\images\ctaBackground.webp" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>                             