<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1339">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <h2 class="cs-title">Crafting Quality Spaces, Every Project, Every Time.</h2>
            <div class="cs-social">
                <a class="cs-social-link" aria-label="visit facebook profile" href="https://google.com">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-1a.svg" alt="facebook" width="11" height="11">
                </a>
                <a class="cs-social-link" aria-label="visit twitter profile" href="https://twitter.com">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-1a.svg" alt="twitter" width="6" height="11">
                </a>
                <a class="cs-social-link" aria-label="visit instagram profile" href="https://instagram.com">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-1a.svg" alt="instagram" width="11" height="11">
                </a>
                <a class="cs-social-link" aria-label="visit youtube profile" href="https://youtube.com">
                    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-1a.svg" alt="instagram" width="11" height="11">
                </a>
            </div>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Quick Links</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="/about">About Us</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/services">Services</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/faqs">FAQs</a>
                </li>
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <span class="cs-header">Contact</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="tel:+44 141 496 0513">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-white.svg" alt="phone icon" width="24" height="24">
                        +44 141 496 0513
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="mailto:help@eliteconstruction.com">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/email-white.svg" alt="email icon" width="24" height="24">
                        help@eliteconstruction.com
                    </a>
                </li>
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <a class="cs-link" href="https://www.google.com/maps/place/Norwich,+UK/@52.6410033,1.286494,12z/data=!3m1!4b1!4m6!3m5!1s0x47d0aad55133f513:0x684ca5e00e12452f!8m2!3d52.6292567!4d1.2978802!16zL20vMHEzNGc?entry=ttu" target="_blank">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-white.svg" alt="pin icon" width="24" height="24">
                        Norwich, Norfolk
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2023 <a href="/" class="cs-credit-link" target="_blank">Elite Construction</a>
        </span>
    </div>
</footer>
                                