---
title: 'About'
description: 'Learn About Elite Construction: 22 Years of Excellence in UK Commercial Building. Our journey, values, and commitment to quality construction. Discover our story.'
preloadImg: '/assets\images\aboutBackground.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets\images\aboutBackground.webp"> 
            <source media="(min-width: 601px)" srcset="/assets\images\aboutBackground.webp">
            <img aria-hidden="true" decoding="async" src="/assets\images\aboutBackground.webp" alt="landing image" loading="eager" width="2500" height="1667">
        </picture>

    </section>

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<section id="content-page-1399">
    <div class="cs-container">
        <div class="cs-image-group">
            <div class="cs-flex">
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets\images\aboutMain.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets\images\aboutMain.webp">
                    <img loading="lazy" decoding="async" src="/assets\images\aboutMain.webp" alt="painters" width="542" height="728">
                </picture>
                <div class="cs-box">
                    <img class="cs-box-icon" aria-hidden="true" loading="lazy" decoding="async" src="\assets\svgs\time.svg" alt="time" width="60" height="60">
                    <span class="cs-desc">
                        Over 20 Years of Expertise
                    </span>
                </div>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="\assets\svgs\safetyVest.svg" alt="safety vest" width="32" height="32">
                        Safety Priority
                    </h3>
                    <p class="cs-item-text">
                        Committed to top-tier safety standards on every project.
                    </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="\assets\svgs\sandTimer.svg" alt="sand timer" width="32" height="32">
                        On-Time Promise
                    </h3>
                    <p class="cs-item-text">
                        We deliver on time, every time, for your construction needs.
                    </p>
                </li>
            </ul>
        </div>
        <div class="cs-content">
            <h1 class="cs-title">About <span class="cs-color">Elite Construction</span></h1>
            <p>
                Discover Elite Construction, your premier choice for top-quality commercial construction services in the UK. With over 22 years of industry expertise, Elite Construction has earned a solid reputation for excellence, reliability, and client satisfaction in the construction sector.
            </p>
            <h2>Our Core Values</h2>
            <p>
                At Elite Construction, our success is rooted in our unwavering commitment to core values that set us apart:
            </p>
            <ul>
                <li>Quality Craftsmanship: Our dedication to precision and attention to detail ensures superior construction outcomes.</li>
                <li>Customer-Centric Approach: We prioritize your needs and tailor our solutions for optimal project satisfaction.</li>
                <li>Expertise and Experience: With 22 years of experience, our seasoned professionals bring unmatched knowledge to every project.</li>
                <li>Sustainability: Elite Construction is a leader in eco-friendly construction practices, minimizing environmental impact.</li>
            </ul>
            <h3>Our Journey and Success Stories</h3>
            <p>
              Elite Construction embarked on its journey in the early 2000s, founded by a group of passionate construction experts. Our extensive portfolio showcases successful completion of diverse commercial construction projects, earning the trust of clients nationwide.
            </p>
            <h4>Contact Us</h4>
            <p>
              Partner with Elite Construction on your upcoming construction project. Whether it's a new development, renovation, or specialized construction service, our team is ready to turn your vision into reality. <a href="/contact">Contact us</a> today to discuss how Elite Construction can enhance your project's success.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-us-1021">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Meet Our Team test</h2>
            <p class="cs-text">
                Meet the Team at Elite Construction: Our experienced professionals bring over two decades of expertise to every project. We're dedicated to delivering quality craftsmanship and exceeding your expectations.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 767px)" srcset="\assets\images\jamesAnderson.webp">
                    <source media="(min-width: 768px)" srcset="\assets\images\jamesAnderson.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="\assets\images\jamesAnderson.webp" alt="James Anderson" width="305" height="335">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">James Anderson</span>
                    <span class="cs-job">Project Manager</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 767px)" srcset="\assets\images\johnReynolds.webp">
                    <source media="(min-width: 768px)" srcset="\assets\images\johnReynolds.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="\assets\images\johnReynolds.webp" alt="John Reynolds" width="305" height="335">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">John Reynolds</span>
                    <span class="cs-job">Senior Construction Engineer</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 767px)" srcset="\assets\images\emilyClarke.webp">
                    <source media="(min-width: 768px)" srcset="\assets\images\emilyClarke.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="\assets\images\emilyClarke.webp" alt="Emily Clarke" width="305" height="335">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Emily Clarke</span>
                    <span class="cs-job">Marketing and Communications Director</span>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
    {% include 'components/cta.html' %}

{% endblock %}