---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: 'assets\images\construction hero.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">Elite construction</span>
                <h1 class="cs-title">Building Dreams, One Project at a Time</h1>
                <p class="cs-text">
                    Transforming commercial spaces with precision and innovation. Our expertise ensures your business environment aligns perfectly with your vision and goals.
                </p>
                <a href="/about" class="cs-button-solid">Get to Know Us</a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="assets\images\construction hero.jpg">
            <source media="(min-width: 601px)" srcset="assets\images\construction hero.jpg">
            <img aria-hidden="true" decoding="async" src="assets\images\construction hero.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="assets\svgs\office.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Office Fit-Outs and Refurbishments</h2>
            <p>Transform your workspace with our expert office fit-outs and refurbishments. Enhance productivity and employee satisfaction in a modern, functional office environment.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/retail.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Retail Space Construction</h2>
            <p>Elevate your retail business with our retail space construction solutions. We create visually stunning and functional retail environments to attract and engage customers.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/leisure.svg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <h2>Hospitality and Leisure Projects</h2>
            <p>Crafting memorable experiences through our hospitality and leisure projects. From hotels to restaurants, we build spaces that delight guests and patrons.</p>
        </div>
    </section>

<!-- ============================================ -->
<!--                     About Us                 -->
<!-- ============================================ -->

<section id="cta-1071">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Discover Our Full Range of Expertise</span>
                <h2 class="cs-title">Match Your Needs with Our Varied Services for Optimal Results.</h2>
            </div>
            <div class="cs-button-box">
                <a href="" class="cs-button-solid">Explore All Services</a>
            </div>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="RPsbsr-1287">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="assets\images\construction2_2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="assets\images\construction2_2.jpg">
                <img loading="lazy" decoding="async" src="assets\images\construction2_2.jpg" alt="building" width="203" height="203">
            </picture>
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="assets\images\construction2_5.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="assets\images\construction2_5.jpg">
                <img loading="lazy" decoding="async" src="assets\images\construction2_5.jpg" alt="building" width="207" height="207">
            </picture>
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="assets\images\construction2_4.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="assets\images\construction2_4.jpg">
                <img loading="lazy" decoding="async" src="assets\images\construction2_4.jpg" alt="building" width="214" height="214">
            </picture>
            <picture class="cs-picture cs-picture4">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="assets\images\constructionFocus2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="assets\images\constructionFocus2.jpg">
                <img loading="lazy" decoding="async" src="assets\images\constructionFocus2.jpg" alt="building" width="223" height="223">
            </picture>
            <picture class="cs-picture cs-picture5">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="assets\images\construction2_6.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="assets\images\construction2_6.jpg">
                <img loading="lazy" decoding="async" src="assets\images\construction2_6.jpg" alt="building" width="287" height="287">
            </picture>
            <picture class="cs-picture cs-picture6">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="assets\images\construction2_3.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="assets\images\construction2_3.jpg">
                <img loading="lazy" decoding="async" src="assets\images\construction2_3.jpg" alt="building" width="203" height="203">
            </picture>
            <!--Stripe background-->
            <picture class="cs-waves-wrapper">
                <img class="cs-waves" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/svg-waves.svg" alt="stripes" width="650" height="933" aria-hidden="true">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Who we are</span>
            <h2 class="cs-title">About Elite Construction</h2>
            <p class="cs-text">
                Elite Construction is a Norfolk-based construction leader with 22 years of experience. We specialize in commercial projects, from offices to education facilities. Our team of experts prioritizes quality, safety, and sustainability. We're your partner for top-notch craftsmanship, on-time delivery, and a brighter future in construction.
            </p>
            <a href="" class="cs-button-solid">Learn More</a>
        </div>
    </div>
</section>    

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RPsbs-1287">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="assets\images\construction2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="assets\images\construction2.jpg">
                <img loading="lazy" decoding="async" src="assets\images\construction2.jpg" alt="building" width="203" height="203">
            </picture>
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="assets\images\construction3.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="assets\images\construction3.jpg">
                <img loading="lazy" decoding="async" src="assets\images\construction3.jpg" alt="building" width="207" height="207">
            </picture>
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="assets\images\construction4.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="assets\images\construction4.jpg">
                <img loading="lazy" decoding="async" src="assets\images\construction4.jpg" alt="building" width="214" height="214">
            </picture>
            <picture class="cs-picture cs-picture4">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="assets\images\constructionFocus.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="assets\images\constructionFocus.jpg">
                <img loading="lazy" decoding="async" src="assets\images\constructionFocus.jpg" alt="building" width="223" height="223">
            </picture>
            <picture class="cs-picture cs-picture5">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="assets\images\construction5.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="assets\images\construction5.jpg">
                <img loading="lazy" decoding="async" src="assets\images\construction5.jpg" alt="building" width="287" height="287">
            </picture>
            <picture class="cs-picture cs-picture6">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="assets\images\construction6.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="assets\images\construction6.jpg">
                <img loading="lazy" decoding="async" src="assets\images\construction6.jpg" alt="building" width="203" height="203">
            </picture>
            <!--Stripe background-->
            <picture class="cs-waves-wrapper">
                <img class="cs-waves" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/svg-waves.svg" alt="stripes" width="650" height="933" aria-hidden="true">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Our Background</span>
            <h2 class="cs-title">The History of Elite Construction</h2>
            <p class="cs-text">
                Founded in 2001, Elite Construction emerged as a testament to innovation and craftsmanship. Our journey began with a vision to redefine commercial construction in the UK. Over 22 years, we've grown from a modest venture to a trusted industry leader, known for excellence, integrity, and client-centric solutions.
            </p>
            <a href="" class="cs-button-solid">Learn More</a>
        </div>
    </div>
</section>                         

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-727">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Reccomendations</span>
            <h2 class="cs-title">A Trusted Choice for Individuals and Businesses</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Detail-Oriented Success</h3>
                <p class="cs-item-text">
                    "Impressed by their attention to detail and commitment to deadlines. Elite Construction made our project a success. Highly recommend!"
                </p>
                <span class="cs-name">ProDesk Dynamics</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/yellow-quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Exceptional Craftsmanship and Trustworthy</h3>
                <p class="cs-item-text">
                    "Exceptional service and quality craftsmanship. Elite Construction transformed our vision into a stunning reality."
                </p>
                <span class="cs-name">Azure View Inn & Suites</span>
            </li>
        </ul>
    </div>
</section>                           

    {% include 'components/cta.html' %}
{% endblock %}